<ngb-accordion activeIds="todo" #acc="ngbAccordion">
	<ngb-panel id="todo">
		<ng-template ngbPanelHeader>
			<h4 ngbPanelToggle class="kt-portlet__head-title titletabs">Indicadores COP </h4>
		</ng-template>
		<ng-template ngbPanelContent>
			<div class="panel-body">
				<div class="row col-md-12">
					<div class="col-md-2">
						<label>SANOS</label>
						<p>{{this.indicadores.indicadorCOP.sano}}</p>
					</div>
					<div class="col-md-2">
						<label>CARIADO NO CAVITACIONAL</label>
						<p>{{this.indicadores.indicadorCOP.cariadoNoCavitacional}}</p>
					</div>
					<div class="col-md-2">
						<label>CARIADO CAVITACIONAL</label>
						<p>{{this.indicadores.indicadorCOP.cariado}}</p>
					</div>
					<div class="col-md-2">
						<label>OBTURADOS</label>
						<p>{{this.indicadores.indicadorCOP.obsturado}}</p>
					</div>
					<div class="col-md-2">
						<label>PERDIDOS </label>
						<p>{{this.indicadores.indicadorCOP.perdido}}</p>
					</div>
					<div class="col-md-2">
						<label>Extraídos por ortodoncia </label>
						<p><input type="number" min="0" class="form-control" (ngModelChange)="indicadores.CalcularTotalCOPCEO()"
							onkeypress="return event.charCode >= 48 && event.charCode <= 57"
								[(ngModel)]="this.indicadores.indicadorCOP.extraidoOrtodoncia"></p>
					</div>
				</div>
				<!-- <div class="row col-md-12">
					<div class="col-md-2">
						<label>Extraídos por ortodoncia </label>
						<p><input type="number" min="0" class="form-control" (ngModelChange)="indicadores.CalcularTotalCOP()"
							onkeypress="return event.charCode >= 48 && event.charCode <= 57"
								[(ngModel)]="this.indicadores.indicadorCOP.extraidoOrtodoncia"></p>
					</div>
					<div class="col-md-6">
						<label></label>
						<p>{{this.indicadores.totalCOP}}</p>
					</div>
				</div>-->

			</div>
		</ng-template>
	</ngb-panel>
	<ngb-panel id="todo">
		<ng-template ngbPanelHeader>
			<h4 ngbPanelToggle class="kt-portlet__head-title titletabs">Indicadores CEO </h4>
		</ng-template>
		<ng-template ngbPanelContent>
			<div class="panel-body">
				<div class="row col-md-12">
					<div class="col-md-2">
						<label>SANOS</label>
						<p>{{this.indicadores.indicadorCEO.sano}}</p>
					</div>
					<div class="col-md-2">
						<label>CARIADO NO CAVITACIONAL</label>
						<p>{{this.indicadores.indicadorCEO.cariadoNoCavitacional}}</p>
					</div>
					<div class="col-md-2">
						<label>CARIADO CAVITACIONAL</label>
						<p>{{this.indicadores.indicadorCEO.cariado}}</p>
					</div>
					<div class="col-md-2">
						<label>OBSTURADOS</label>
						<p>{{this.indicadores.indicadorCEO.obsturado}}</p>
					</div>
					<div class="col-md-2">
						<label>EXFOLIADOS</label>
						<p>{{this.indicadores.indicadorCEO.exfoliado}}</p>
					</div>

					<div class="col-md-2">
						<label>Extraídos por ortodoncia </label>
						<p><input type="number" min="0" class="form-control" (ngModelChange)="indicadores.CalcularTotalCOPCEO()"
							onkeypress="return event.charCode >= 48 && event.charCode <= 57"
								[(ngModel)]="this.indicadores.indicadorCEO.extraidoOrtodoncia"></p>
					</div>
				</div>


				<div class="row col-md-12">
					<div class="col-md-6">
						<label></label>
						<h4><strong>{{this.indicadores.totalCOPCEO}}</strong></h4>
					</div>
				</div>


			</div>



		</ng-template>
	</ngb-panel>

	<ngb-panel id="todo">
		<ng-template ngbPanelHeader>
			<h4 ngbPanelToggle class="kt-portlet__head-title titletabs">Indicadores de Place</h4>
			<span *ngIf="!this.indicadores.isCapturado" class="btn btn-success BotonOculto btnFloatTitletabs"
				 (click)="cargarOdontogramas()">Capturar</span>
		</ng-template>
		<ng-template ngbPanelContent>
			<div class="panel-body form-horizontal">
				<div class="row">
				</div>
				<div class="row" id="myDivIndicadores">
					<div class=" col-md-9">
						<table style="text-align: center; font-weight: bold; zoom: 130%">
							<tr>
								<td colspan="17">
									<b>Vestibular</b><br /><br />
								</td>
							</tr>
							<tr>
								<td>
									<app-diente-indicador-placa [value]="18">
									</app-diente-indicador-placa>
								</td>
								<td>
									<app-diente-indicador-placa [value]="17">
									</app-diente-indicador-placa>
								</td>
								<td>
									<app-diente-indicador-placa [value]="16">
									</app-diente-indicador-placa>
								</td>
								<td>
									<app-diente-indicador-placa [value]="15">

									</app-diente-indicador-placa>
								</td>
								<td>
									<app-diente-indicador-placa [value]="14">

									</app-diente-indicador-placa>
								</td>
								<td>
									<app-diente-indicador-placa [value]="13">

									</app-diente-indicador-placa>
								</td>
								<td>
									<app-diente-indicador-placa [value]="12">
									</app-diente-indicador-placa>
								</td>
								<td>
									<app-diente-indicador-placa [value]="11">
									</app-diente-indicador-placa>
								</td>
								<td></td>
								<td>
									<app-diente-indicador-placa [value]="21">
									</app-diente-indicador-placa>
								</td>
								<td>
									<app-diente-indicador-placa [value]="22">
									</app-diente-indicador-placa>
								</td>
								<td>
									<app-diente-indicador-placa [value]="23">
									</app-diente-indicador-placa>
								</td>
								<td>
									<app-diente-indicador-placa [value]="24">
									</app-diente-indicador-placa>
								</td>
								<td>
									<app-diente-indicador-placa [value]="25">
									</app-diente-indicador-placa>
								</td>
								<td>
									<app-diente-indicador-placa [value]="26">
									</app-diente-indicador-placa>
								</td>
								<td>
									<app-diente-indicador-placa [value]="27">
									</app-diente-indicador-placa>
								</td>
								<td>
									<app-diente-indicador-placa [value]="28">
									</app-diente-indicador-placa>
								</td>
							</tr>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td>
									<app-diente-indicador-placa [value]="55">
									</app-diente-indicador-placa>
								</td>
								<td>
									<app-diente-indicador-placa [value]="54">
									</app-diente-indicador-placa>
								</td>
								<td>
									<app-diente-indicador-placa [value]="53">
									</app-diente-indicador-placa>
								</td>
								<td>
									<app-diente-indicador-placa [value]="52">
									</app-diente-indicador-placa>
								</td>
								<td>
									<app-diente-indicador-placa [value]="51">
									</app-diente-indicador-placa>
								</td>
								<td></td>
								<td>
									<app-diente-indicador-placa [value]="61">
									</app-diente-indicador-placa>
								</td>
								<td>
									<app-diente-indicador-placa [value]="62">
									</app-diente-indicador-placa>
								</td>
								<td>
									<app-diente-indicador-placa [value]="63">
									</app-diente-indicador-placa>
								</td>
								<td>
									<app-diente-indicador-placa [value]="64">
									</app-diente-indicador-placa>
								</td>
								<td>
									<app-diente-indicador-placa [value]="65">
									</app-diente-indicador-placa>
								</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td colspan="6">
									<br /><br /><b>Derecho</b>
								</td>
								<td colspan="5">
									<br /><br />
									<b>Lingual</b>
									<br /><br />
								</td>
								<td colspan="6">
									<br /><br /><b>Izquiedo</b>
								</td>
							</tr>

							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td>
									<app-diente-indicador-placa [value]="85">
									</app-diente-indicador-placa>
								</td>
								<td>
									<app-diente-indicador-placa [value]="84">
									</app-diente-indicador-placa>
								</td>
								<td>
									<app-diente-indicador-placa [value]="83">
									</app-diente-indicador-placa>
								</td>
								<td>
									<app-diente-indicador-placa [value]="82">
									</app-diente-indicador-placa>
								</td>
								<td>
									<app-diente-indicador-placa [value]="81">
									</app-diente-indicador-placa>
								</td>
								<td></td>
								<td>
									<app-diente-indicador-placa [value]="71">
									</app-diente-indicador-placa>
								</td>
								<td>
									<app-diente-indicador-placa [value]="72">
									</app-diente-indicador-placa>
								</td>
								<td>
									<app-diente-indicador-placa [value]="73">

									</app-diente-indicador-placa>
								</td>
								<td>
									<app-diente-indicador-placa [value]="74">
									</app-diente-indicador-placa>
								</td>
								<td>
									<app-diente-indicador-placa [value]="75">
									</app-diente-indicador-placa>
								</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>
									<app-diente-indicador-placa [value]="48">
									</app-diente-indicador-placa>
								</td>
								<td>
									<app-diente-indicador-placa [value]="47">
									</app-diente-indicador-placa>
								</td>
								<td>
									<app-diente-indicador-placa [value]="46">
									</app-diente-indicador-placa>
								</td>
								<td>
									<app-diente-indicador-placa [value]="45">
									</app-diente-indicador-placa>
								</td>
								<td>
									<app-diente-indicador-placa [value]="44">
									</app-diente-indicador-placa>
								</td>
								<td>
									<app-diente-indicador-placa [value]="43">
									</app-diente-indicador-placa>
								</td>
								<td>
									<app-diente-indicador-placa [value]="42">
									</app-diente-indicador-placa>
								</td>
								<td>
									<app-diente-indicador-placa [value]="41">
									</app-diente-indicador-placa>
								</td>
								<td></td>
								<td>
									<app-diente-indicador-placa [value]="31">
									</app-diente-indicador-placa>
								</td>
								<td>
									<app-diente-indicador-placa [value]="32">
									</app-diente-indicador-placa>
								</td>
								<td>
									<app-diente-indicador-placa [value]="33">
									</app-diente-indicador-placa>
								</td>
								<td>
									<app-diente-indicador-placa [value]="34">
									</app-diente-indicador-placa>
								</td>
								<td>
									<app-diente-indicador-placa [value]="35">
									</app-diente-indicador-placa>
								</td>
								<td>
									<app-diente-indicador-placa [value]="36">
									</app-diente-indicador-placa>
								</td>
								<td>
									<app-diente-indicador-placa [value]="37">
									</app-diente-indicador-placa>
								</td>
								<td>
									<app-diente-indicador-placa [value]="38">
									</app-diente-indicador-placa>
								</td>
							</tr>

							<tr>
								<td colspan="17">
									<br /><br /> <b>Vestibular</b>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</ng-template>
	</ngb-panel>

	<ngb-panel id="todo">
		<ng-template ngbPanelHeader>
			<h4 ngbPanelToggle class="kt-portlet__head-title titletabs">Historial Indicadores de Placa</h4>
		</ng-template>
		<ng-template ngbPanelContent>
			<div class="panel-body form-horizontal">
				<div class="row">
				</div>
				<div class="row" id="myDiv">
					<div class="col-md-2">
						<select class="form-control" style="height: 100%;" id="kt_multipleselectsplitter_2" multiple>
							<optgroup *ngFor="let item of this.indicadores.listIndicadores"
								label="{{item.fechaCreacion  | date:'yyyy-MM-dd'}}">
								<option *ngFor="let dientes of item.odontograma; let i = index" (click)="obtenerDatos(dientes)">
									Indicador {{i + 1}}</option>
							</optgroup>
						</select>
					</div>
					<div class="col-md-9">
						<strong>Resultado: {{ this.totalporcentaje}}%</strong>
						<table style="text-align: center; font-weight: bold; zoom: 130%">
							<tr>
								<td colspan="17">
									<b>Vestibular</b><br /><br />
								</td>
							</tr>
							<tr>
								<td>
									<app-diente-historial [value]="18">
									</app-diente-historial>
								</td>
								<td>
									<app-diente-historial [value]="17">
									</app-diente-historial>
								</td>
								<td>
									<app-diente-historial [value]="16">
									</app-diente-historial>
								</td>
								<td>
									<app-diente-historial [value]="15">

									</app-diente-historial>
								</td>
								<td>
									<app-diente-historial [value]="14">

									</app-diente-historial>
								</td>
								<td>
									<app-diente-historial [value]="13">

									</app-diente-historial>
								</td>
								<td>
									<app-diente-historial [value]="12">
									</app-diente-historial>
								</td>
								<td>
									<app-diente-historial [value]="11">
									</app-diente-historial>
								</td>
								<td></td>
								<td>
									<app-diente-historial [value]="21">
									</app-diente-historial>
								</td>
								<td>
									<app-diente-historial [value]="22">
									</app-diente-historial>
								</td>
								<td>
									<app-diente-historial [value]="23">
									</app-diente-historial>
								</td>
								<td>
									<app-diente-historial [value]="24">
									</app-diente-historial>
								</td>
								<td>
									<app-diente-historial [value]="25">
									</app-diente-historial>
								</td>
								<td>
									<app-diente-historial [value]="26">
									</app-diente-historial>
								</td>
								<td>
									<app-diente-historial [value]="27">
									</app-diente-historial>
								</td>
								<td>
									<app-diente-historial [value]="28">
									</app-diente-historial>
								</td>
							</tr>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td>
									<app-diente-historial [value]="55">
									</app-diente-historial>
								</td>
								<td>
									<app-diente-historial [value]="54">
									</app-diente-historial>
								</td>
								<td>
									<app-diente-historial [value]="53">
									</app-diente-historial>
								</td>
								<td>
									<app-diente-historial [value]="52">
									</app-diente-historial>
								</td>
								<td>
									<app-diente-historial [value]="51">
									</app-diente-historial>
								</td>
								<td></td>
								<td>
									<app-diente-historial [value]="61">
									</app-diente-historial>
								</td>
								<td>
									<app-diente-historial [value]="62">
									</app-diente-historial>
								</td>
								<td>
									<app-diente-historial [value]="63">
									</app-diente-historial>
								</td>
								<td>
									<app-diente-historial [value]="64">
									</app-diente-historial>
								</td>
								<td>
									<app-diente-historial [value]="65">
									</app-diente-historial>
								</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td colspan="6">
									<br /><br /><b>Derecho</b>
								</td>
								<td colspan="5">
									<br /><br />
									<b>Lingual</b>
									<br /><br />
								</td>
								<td colspan="6">
									<br /><br /><b>Izquiedo</b>
								</td>
							</tr>

							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td>
									<app-diente-historial [value]="85">
									</app-diente-historial>
								</td>
								<td>
									<app-diente-historial [value]="84">
									</app-diente-historial>
								</td>
								<td>
									<app-diente-historial [value]="83">
									</app-diente-historial>
								</td>
								<td>
									<app-diente-historial [value]="82">
									</app-diente-historial>
								</td>
								<td>
									<app-diente-historial [value]="81">
									</app-diente-historial>
								</td>
								<td></td>
								<td>
									<app-diente-historial [value]="71">
									</app-diente-historial>
								</td>
								<td>
									<app-diente-historial [value]="72">
									</app-diente-historial>
								</td>
								<td>
									<app-diente-historial [value]="73">

									</app-diente-historial>
								</td>
								<td>
									<app-diente-historial [value]="74">
									</app-diente-historial>
								</td>
								<td>
									<app-diente-historial [value]="75">
									</app-diente-historial>
								</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>
									<app-diente-historial [value]="48">
									</app-diente-historial>
								</td>
								<td>
									<app-diente-historial [value]="47">
									</app-diente-historial>
								</td>
								<td>
									<app-diente-historial [value]="46">
									</app-diente-historial>
								</td>
								<td>
									<app-diente-historial [value]="45">
									</app-diente-historial>
								</td>
								<td>
									<app-diente-historial [value]="44">
									</app-diente-historial>
								</td>
								<td>
									<app-diente-historial [value]="43">
									</app-diente-historial>
								</td>
								<td>
									<app-diente-historial [value]="42">
									</app-diente-historial>
								</td>
								<td>
									<app-diente-historial [value]="41">
									</app-diente-historial>
								</td>
								<td></td>
								<td>
									<app-diente-historial [value]="31">
									</app-diente-historial>
								</td>
								<td>
									<app-diente-historial [value]="32">
									</app-diente-historial>
								</td>
								<td>
									<app-diente-historial [value]="33">
									</app-diente-historial>
								</td>
								<td>
									<app-diente-historial [value]="34">
									</app-diente-historial>
								</td>
								<td>
									<app-diente-historial [value]="35">
									</app-diente-historial>
								</td>
								<td>
									<app-diente-historial [value]="36">
									</app-diente-historial>
								</td>
								<td>
									<app-diente-historial [value]="37">
									</app-diente-historial>
								</td>
								<td>
									<app-diente-historial [value]="38">
									</app-diente-historial>
								</td>
							</tr>

							<tr>
								<td colspan="17">
									<br /><br /> <b>Vestibular</b>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</ng-template>
	</ngb-panel>
</ngb-accordion>

<!--
	COP
	2 obst
	2 car
	1 per


	CEO
	2 car
	2 obs
	2 per
-->
